<header>
    <nav>
        <a class=<%= page === "Home" ? "active" : "passive"%> href="/">Home</a>
        <a class=<%= page === "ccar" ? "active" : "passive"%> href="/create-car">Create car</a>
        <a class=<%= page === "cinfo" ? "active" : "passive"%> href="/search-car">Car info</a>
        <a class=<%= page === "cstock" ? "active" : "passive"%> href="/create-stock">Create stock</a>
        <a class=<%= page === "sinfo" ? "active" : "passive"%> href="/search-stock">Stock info</a>
    </nav>
</header>
