<%- include("includes/header.ejs") %>
    <link rel="stylesheet" href="/style.css">
    <title>Car <%= car.name %></title>
</head>
<body>
    <%- include("includes/navbar.ejs", { page: "car" }) %>
    <% if (error) { %>
        <div class="err-card">
            <h1><%=error%></h1>
        </div>
    <% } else { %>
        <div class="simple-card">
            <h1>Found car!</h1>
            <p class="bp">Name: <%=car.name%></p>
            <p class="bp">Price: <%=car.price%></p>
        </div>
    <% } %>

<%- include("includes/end.ejs") %>
